.DS_Store
*~
*.swp
*.swm
*.swn
*.swo
.idea
.ipynb_*
venv
_*
._*
*.class
build.log
log
data
build
bin
out
nbproject
.project
.classpath
.settings
tests/*.bin
junit*properties
TEST-*txt
tt
tmp_tmp*
tmp_tmp*/*
tests/A0*
tests/A?Test*
tests/A??Test*
tests/ATest*
